body {
    background-image: url("./soccer_field_wallpapers_hd.jpg");
    background-size: cover;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; }

.h1 {
    font-size: 60px;
    text-align: center;
    font-family: Georgia;
    color: gold;
    margin-top: 20px;
    margin-bottom: 5px; }

.h2 {
    font-size: 32px;
    font-family: Georgia;
    color: gold;
    margin-top: 75px;
    margin-bottom: 25px; }

.h3 {
    font-size: 32px;
    text-align: center;
    font-family: Georgia; }

.row {
    margin-top: 100px;
    text-align: center; }

.button {
    text-align: center;
    font-family: Arial;
    font-size: 22px;
    background-color: gold;
    color: black; }